/* Web Fonts */

@font-face{
    font-family: 'Quicksand Medium';
    src: url('../fonts/Quicksand-Medium.ttf'), url('../fonts/Quicksand-Medium.woff');
}


/* Main Styles */

* {
    box-sizing: border-box;
}

body {
    color: #2A2C2B;
    margin: 0;
    font: 1em/1.5 'Quicksand Medium', Helvetica, 'Calibri Light', sans-serif;
}

/* Body Styles */

main,
.carousel-container {
    margin: 0 5%;
}

.carousel-container img {
    max-width: 100%;
    height: auto;
}

.social,
.owner,
.intro,
.services,
.srvcs,
.serv-heading {
    text-align: center;
    font-size: 24px;
}

.services,
.intro {
    padding-top: 35px;
}

.services-background {
    height: 300px;
    width: 425px;
    font-size: 46px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-background p {
    text-shadow: 2px 2px #374140;
    margin: 0;
}

#group {
    background-image: url(../images/running-kids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#adult {
    background-image: url(../images/woman-with-dumbbells.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#active {
    background-image: url(../images/school-obstacle-course.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#team {
    background-image: url(../images/team-training.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#individual {
    background-image: url(../images/plate-sled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.srvcs {
    padding-top: 50px;
}
.srvcs img {
    height: auto;
}

.srvcs p {
    padding-bottom: 50px;
}

.srvcs h3 {
    text-decoration: underline;
}

.availibility {
    font-weight: bolder;
    margin-top: 0;
    padding: 0;
}

.owner img {
   display: block; 
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   height: auto; 
}

.owner h3 {
    padding-top: 25px;
}


/* Header Styles */

.bulletin {
    background-color: #374140;
    color: #fff;
    text-align: center;
    margin: -16px;
}

.logo img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 300px;
    padding-left: 25px;
}

.main-nav li {
    padding: 20px;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px; 
    border-bottom: solid 1px #374140;
}

/* Footer Styles */

.main-footer {
    background-color: #29253C;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer ul {
    padding-top: 50px;
}

footer li {
    padding-top: 8px;
}

.sub-footer {
    background-color: #374140;
    color: #fff;
    padding: 5px;
    text-align: center;
}


/* Form Styles */

form {
    max-width: 600px;
    margin: 50px auto 25px;
    padding: 10px 20px;
    background: #BDC3C7;
    border-radius: 8px;

  }
  
form h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

input[type="text"],
input[type="tel"],
textarea,
select {
  background: #f6f7f8;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.error {
    color: red;
    font-size: 12px;
    padding-left: 10px;
}

.expiration {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#phone_preference {
    margin-bottom: 30px;
}

button {
    background-color: #29253C;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
}

.button {
    display: flex;
    justify-content: center;
}

/* Link Styles */

.main-nav a:link, 
.main-nav a:visited, 
.main-nav a:active {
    text-decoration: none;
    color: #2A2C2B;
}

.main-nav a:hover:not(#book) {
    border-bottom: solid 1px #2A2C2B;
}

.services a:link, 
.services a:visited, 
.services a:active {
    text-decoration: none;
    color: white;
}

.srv-container a:link,
.srv-container a:active,
.srv-container a:visited {
    color: #2A2C2B;
}

.srv-container a:hover {
    color: #BDC3C7
}

.main-footer a:link, 
.main-footer a:visited, 
.main-footer a:active {
    text-decoration: none;
    color: white;
}

.main-footer a:hover {
    border-bottom: solid 1px white;
}

/* Media Queries */

@media (max-width: 650px) {
    .srv-container img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 750px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 1.25em;
        padding-right: 15px;
    }

    .main-footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
    }

    .main-nav li,
    .main-nav a {
        padding: 0 8px;
    }

    .main-nav li:nth-child(5) a {
        border: solid 1px  #29253c;
        border-radius: 8px;
        padding: 8px;
    }

    .main-nav li:nth-child(5) a:hover {
        border: none;
        background-color: #29253C;
        color: white;
        padding: 8px;
    }

    .logo img {
        height: auto;
        width: auto;
        max-height: 100px;
        max-width: 150px;
        padding-left: 25px;
    }

    .services-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main,
    .carousel-container {
        margin: 0 15%;
    }

    .srv-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .srv-container p {
        padding-left: 40px;
        font-size: 16px;
    }

    .srv-container img {
        max-width: 300px;
        height: auto;
    }

    #service {
        margin-right: 7%;
        margin-left: 7%;
    }
}

@media (min-width: 900px) {

    .srv-container img {
        max-width: 400px;
        height: auto;
    }

    .srv-container p {
        padding-left: 40px;
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    .srv-container img {
        max-width: 500px;
        height: auto;
    }
    .srv-container p {
        padding-left: 40px;
        font-size: 22px;
    }

}

